<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Health Buddy</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />    
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body >
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HEALTH BUDDY</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">HOME</a></li>
                     <li><a href="services.html">SERVICES</a></li>
                    <li><a href="portfolio.html">RECENT HEALTH CAMPS</a></li>
                  
                    
                </ul>
            </div>
           
        </div>
    </div>
   <!--/.NAVBAR END-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctor Sign up</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<style>
	body{
		height:100%;
   width:100%;
   background-image:url(../static/img/Doctor1.jpg);/*your background image*/  
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
   /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../static/img/Doctor1.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../static/img/Doctor1.jpg',sizingMethod='scale')";
	}
	</style>
     
  </head>
  <body>
	 <link href="../static/css/bootstrap.min.css" rel="stylesheet">
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="\C:\Program Files\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>-->
	<br><br/>
	
	<div class="container">
		
			<div class="row">
				<div class="col-xs-offset-8 col-xs-4">
					<form class="form-horizontal" method="POST" action="{{ url_for('doc_put') }}">
					<h2>Enter Your Details</h2>
						<div class="form-group">
							<label for="inputUserName" class="control-label col-sm-3">Name</label>
							<div class="col-sm-9">
								<input class="form-control" name="name" placeholder="Login Username"
										type="text" id="inputUserName" />
							</div>
						</div>
						<br>
						<div class="form-group">
							<label for="inputid "class="control-label col-sm-3">Doctor_ID</label>
							<div class="col-sm-9">
								<input class="form-control" name="Doc-id" placeholder="Enter Your Id"
										type="text" id="Doc-id"/>
							</div>
						</div>
						<br>
						<div class="form-group">
							<label for="input-degree"class="control-label col-sm-3">Degree</label>
							<div class="col-sm-9">
								<input class="form-control" name="degree" placeholder="Enter Degree"
										type="text" id="Doc-degree"/>
							</div>
						</div>
						<br>
						
						<div class="form-group">
							<label for="input-degree"class="control-label col-sm-3">Contact No:</label>
							<div class="col-sm-9">
								<input class="form-control" name="contact" placeholder="Enter Degree"
										type="text" id="input-degree"/>
							</div>
						</div>
						<br>
						<div class="form-group">
							<label for="doc-city" class="control-label col-sm-3">City Name</label>
							<div class="col-sm-9">
								<input class="form-control" name="city" placeholder="Enter Degree"
										type="text" id="doc-city"/>
							</div>
						</div>
						<br>
						
						<div class="radio">
							<div><strong>Place of employment</strong>&nbsp;&nbsp;&nbsp;
								  <label><input type="radio" name="emp">Hospital</label>&nbsp;&nbsp;&nbsp;
								  <label><input type="radio" name="emp">Clinic</label>
							</div>
						</div><br>
						
						<div class="form-group">
							<label for="input-mailid"class="control-label col-sm-3">Email-id</label>
							<div class="col-sm-9">
								<input class="form-control" name="mailid" placeholder="Enter valid email-id"
										type="email" id="input-id"/>
									
							</div>
						</div>
						
						<div class="form-group">
							<label for="inputPassword" class="control-label col-sm-3">Password</label>
							<div class="col-sm-9">
								<input class="form-control" name="pass" placeholder="Enter Password"
										type="password" id="inputPassword" />
							</div>
						</div>
						<!--<div class="form-group">
							<label class="control-label col-sm-2">Re-Enter Password</label>
							<div class="col-sm-10">
								<input class="form-control" placeholder="Re-Enter Password"
										type="password" id="pass1"/>
							</div>
						</div>
						-->
						<div class="form-group">
							<div class="col-lg-offset-5 col-sm-12">
								<button type="submit" class="btn btn-default" >Sign up</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	
    <section id="footer-sec" >
             
            <div class="container">
           <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>ABOUT COMPANY</strong> </h4>
                            <p>
                               Your Ultimate Life-long Health companion
                            </p>
                </div>
               <div class="col-md-4">
                    <h4> <strong>SOCIAL LINKS</strong> </h4>
                   <p>
                     <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>  
                       <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>  
                   </p>
                </div>
            
               </div>
            </div>
    </section>         
    <!--/.FOOTER END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/plugins/bootstrap.js"></script>
  <!-- CUSTOM SCRIPTS  -->
    <script src="assets/js/custom.js"></script>
		</body>
</html>
				
				
				
				
				
				
				
				
				
				